<table role="presentation" class="main">
  <!-- START MAIN CONTENT AREA -->
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <p>Hi there,</p>
            <p>
              The detected hot wallet balance lower threshold is reported below.
              <br>
              This is automatically sent by the system.
            </p>
            <p>
              Hot wallet address: {{address}}
              <br>
              Current balance: {{current_balance}}
              <br>
              Minimum threshold: {{lower_threshold}}
              <br>
              Currency symbol: {{currency}}
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<!-- END MAIN CONTENT AREA -->
</table>